# MySQL Database Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=qwerty

# Database Names
AUTH_DB_NAME=h2s_auth
USER_DB_NAME=h2s_user
EXPOSURE_DB_NAME=h2s_exposure
NOTIFICATION_DB_NAME=h2s_notification
AI_DB_NAME=h2s_ai

# JWT Security Secret (Minimum 256 bits / 32 chars for HS256)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

# Gateway & Service Ports
GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
USER_SERVICE_PORT=8082
EXPOSURE_SERVICE_PORT=8083
NOTIFICATION_SERVICE_PORT=8084
AI_SERVICE_PORT=8085
